<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--    Style for map-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="//unpkg.com/leaflet-gesture-handling/dist/leaflet-gesture-handling.min.css"
          type="text/css">
    <script src="//unpkg.com/leaflet-gesture-handling"></script>
    <!--    Style for map END-->

    <title>Find your Medical Lab</title>
    <link rel="shortcut icon" href="img/pulseTabIcon.svg">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <script>
        function zoom() {
            document.body.style.zoom = "75%"
        }

    </script>

</head>

<body id="page-top" onload="zoom()" style="width: 100%; height: 100%">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


        <!-- Sidebar - Brand - NAME -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
            <div class="sidebar-brand-icon">
                <img src="img/pulse-white.svg" height="40"
                     width="40"/>
            </div>
            <div class="sidebar-brand-text mx-3">Go - LAB</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/home">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Home</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading for MAP -->
        <div class="sidebar-heading">
            Find your Medical LAB
        </div>

        <!-- ITEMS for map-->
        <li class="nav-item active">
            <a class="nav-link" href="/map">
                <i class="fas fa-fw icon text-white-50 fas fa-flag"></i>
                <span>Map</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Tables
        </div>

        <!-- Table -->

        <li class="nav-item">
            <a class="nav-link" href="/MedicalLAB">
                <i class="fas fa-fw fa-table"></i>
                <span>All Medical Centers</span></a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/covid19TestingLab">
                <i class="fas fa-fw fa-table"></i>
                <span>Covid - 19 Testing Centers</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <div class="sidebar-heading">
            Contact
        </div>

        <li class="nav-item">
            <a class="nav-link" href="/aboutUs">
                <i class="fas fa-fw fa-info-circle icon text-white-50"></i>
                <span>About Us</span></a>
        </li>

        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>

                    </li>


                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                            <img class="img-profile rounded-circle"
                                 src="img/undraw_profile.svg">
                        </a>

                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid" style="height: 1000px">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Пронајди ја твојата лабораторија</h1>
                <div>




                        <form th:method="POST" th:action="@{/map}">

                            <select name="city">
                                <option selected disabled hidden >Одбери град: </option>
                                <option th:each="city : ${allCities}" th:value="${city}"
                                        th:text="${city}" id="city" name="city"></option>
                            </select>
                            <select name="category">
                                <option selected disabled hidden >Одбери категорија: </option>
                                <option th:each="category : ${allCategories}" th:value="${category}"
                                        th:text="${category}" id="category" name="category"></option>
                            </select >
                            <select name="covidTest">
                                <option selected disabled hidden>Одбери: </option>
                                <option name="covidTest">да</option>
                                <option name="covidTest">не</option>
                            </select>


                            <input type="submit" value="Submit" id="submitId"/>


                        </form>


                </div>



                <!--                Location on map-->
                <hr class="sidebar-divider my-0">
                <br>
                <h3 style="font-weight: bold; color: #3b5998"> Локација: </h3>
                <br>
                <div id="map" style="width: 100%; height: 600px">

                </div>
                <!--                Map END-->

            <ul   th:each="med:${AllCovid19TestingLabs}">
               <li class="test" th:text="${med.getLongitude()}"></li>
            </ul>
                <ul  th:each="med:${AllCovid19TestingLabs}">
                    <li class="test_lat" th:text="${med.getLatitude()}"></li>
                </ul>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Go - LAB 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

</body>


<!-- JS for map design and funct.-->
<script>

const map = L.map('map', {
    gestureHandling: true
}).setView([42.006510, 21.421958], 13);

layer1 =  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);
layer2 =  L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
});
layer3 =  L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
});

var allOptions = {
    "Default": layer1,
    "Open streetmap: Hot": layer2,
    "Open streetmap: Osm": layer3
};  // all layers

L.control.layers(allOptions).addTo(map);

layer1.addTo(map);  //default layer




</script>
<script type="text/javascript">
    var list_long;
    var list_lat;
    console.log(document.getElementsByClassName('test').length);
    for (var i=1; i<document.getElementsByClassName('test').length; i++) {
        list_long= list_long+','+ (document.getElementsByClassName('test').item(i).innerHTML)
        list_lat= list_lat+','+ (document.getElementsByClassName('test_lat').item(i).innerHTML)
    }

    const temp_long = list_long.split(',');
    const temp_lat = list_lat.split(',');

    for (var i = 1; i < temp_long.length; i++) {

        console.log(temp_long[i]+ ' '+ temp_lat[i]);
        marker = L.marker([temp_lat[i], temp_long[i]]).addTo(map);
    }

    // console.log(list)
</script>

<!-- JS for map design and funct. END-->


</html>